.sport-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  & li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin: 5px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid black;
    // background: linear-gradient(45deg, rgba(225, 161, 37, 0.8), rgba(86, 181, 184, 0.8));
    border-color: $accent-color;
    &.winter {
      border-color: rgba(86, 181, 184, 0.8);
    }
    @media screen and(min-width: 769px) {
      width: 150px;
      height: 150px;
    }
    & p {
      margin-top: 5px;
      font-size: 8px;
      @media screen and(min-width: 769px) {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

#foo {
  padding: 0;
}
#foo-descr {
  padding: 0;
  margin: 20px 7px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
    url(../images/summer/volleyball-g8b2e630cb_1920.jpg);
  background-size: 100%;
  background-position: 0 200px;
  & img {
    padding-bottom: 20px;
  }
  & p {
    top: 100px;
    text-align: justify;
    font-weight: 100;
    font-size: 20px;
    padding: 7px 10px;
    color: rgb(236, 221, 188);
  }

  & span {
    display: inline-block;
    color: $accent-color;
    padding-bottom: 10px;
  }
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/volleyball-gfa52c0255_1920.jpg);
    border-radius: 10px;
    padding: 50px 10px;
    & img {
      float: left;
      border-radius: 20px;
      padding-right: 20px;
      padding-bottom: 0;
    }
    & p {
      padding: 10px;
      font-size: 24px;
    }
    & span {
      padding: 10px;
      font-size: 24px;
    }
  }
}

.box {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)),
    url(../images/summer/box_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/box_bg_tab.jpg) !important;
  }
}
.football {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
    url(../images/summer/football_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/football_bg_tab.jpg) !important;
  }
}
.tennis {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
    url(../images/summer/tennis_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/tennis_bg_tab.jpg) !important;
  }
}
.golf {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/summer/golf_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/golf_bg_tab.jpg) !important;
  }
}
.cycling {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/summer/cycling_bg_mob.png) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/cycling_bg_tab.jpg) !important;
  }
}
.judo {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/summer/judo_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/judo_bg_tab.jpg) !important;
  }
}
.basketball {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/summer/basketball_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/basketball_bg_tab.jpg) !important;
  }
}
.gymnastics {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../images/summer/gymnastics_bg_mob.jpg) !important;
  @media screen and(min-width: 769px) {
    background: linear-gradient(to right, rgba(47, 48, 58, 0.9), rgba(47, 48, 58, 0.9)),
      url(../images/summer/gymnastics_bg_tab.jpg) !important;
  }
}
.page-title {
  padding: 40px;
  background: linear-gradient(45deg, rgba(225, 161, 37, 0.9), rgba(86, 181, 184, 0.6)),
    url('../images/Gerald_G_Golf_Decoration.svg');
  border-radius: 20px;
  @media screen and(min-width: 769px) {
    margin-bottom: 20px;
  }
  &.winter-header {
    background: linear-gradient(45deg, rgba(86, 181, 184, 0.9), rgba(225, 161, 37, 0.6)),
      url('../images/Gerald_G_Golf_Decoration.svg');
  }
}
.summer-title {
  font-size: 24px;
  color: $primary-white-color;
}

.back-btn {
  border: 1px solid $accent-color;
  position: fixed;
  z-index: 10000;
  top: 85px;
  left: 15px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  background: linear-gradient(45deg, rgba(225, 161, 37, 0.3), rgba(86, 181, 184, 0.3));
  @media screen and (min-width: 767px) {
    top: 125px;
    left: 20px;
    padding: 15px;
  }
}
.sport-item-img {
  max-height: 42px;
  min-height: 35px;
  max-width: 50px;
  @media screen and(min-width: 769px) {
    max-height: 74px;
    min-height: 70px;
    max-width: 90px;
  }
}

.summer-img {
  // margin: 0;
  // padding: 0;
  @media screen and(min-width: 769px) {
    width: 40%;
  }
}
