<li class="sport-list-item" data-id="{{id}}">
    <a href={{url}} class="sport-link">
        <svg class="sport-item-img">
            <use xlink:href={{image}}></use>
        </svgt=>
        </a>
    <p>{{title}}</p>
</li>